@import "variables";

.grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}
.grid > * {
}
.logo {
  font-size: 1.8rem;
  font-weight: 600;
}
.subreddits {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.subredditButton {
  background-color: $color-primary;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 85%;
  font-size: 0.9rem;
  font-weight: 500;
}
.subredditAdd {
  background-color: #fff;
  color: #000;
  border: 0px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}
.subredditButton:hover {
  opacity: 100%;
}
.nowBrowsing {
  opacity: 35%;
  margin-top: 15px;
}

.posts {
  position: relative;
}
.connector {
  background-color: $color-secondary;
  width: 4px;
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 46px;
  z-index: 0;
}
.post {
  font-size: $font-regular;
  padding: $post-spacing;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  .thumbnail {
    border-radius: 50%;
    width: $thumbnail-width;
    height: $thumbnail-height;
    border: $thumbnail-border;
    cursor: pointer;
    z-index: 1;
  }
  .noThumbnail {
    border-radius: 50%;
    width: $thumbnail-width;
    height: $thumbnail-height;
    border: $thumbnail-border;
    background-color: $color-background;
    cursor: pointer;
    z-index: 1;
    color: $color-secondary;
    font-size: 2rem;
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .title {
    display: grid;
    align-content: center;
  }
  .postData {
    font-size: 0.9rem;
    opacity: 25%;
    font-weight: $font-weight-light;
    padding-top: 5px;
  }
}
.loading {
  padding: $post-spacing;
}
.comments {
  display: grid;
  gap: 10px;
  opacity: 25%;
  font-size: 0.9rem;
  font-weight: 300;
}

@media (max-width: 600px) {
}
