$color-background: rgb(19, 16, 21);
$color-text: #fff;
$color-primary: rgb(60, 51, 109);
$color-secondary: rgb(78, 158, 78);

$font-regular: 1.1rem;
$font-small: 0.9rem;
$font-weight-light: 300;

$post-spacing: 10px 20px;

$thumbnail-height: 55px;
$thumbnail-width: 55px;
$thumbnail-border: 3px solid $color-secondary;
